<% if (success && success.length) { %>
    <div class="alert alert-success" role="alert">
        <h6><%=success%></h6>
      </div>
<% } %>


<% if (fail && fail.length) { %>
    <div class="alert alert-danger" role="alert">
        <h6><%=fail%></h6>
      </div>
<% } %>
