<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>

    <body>
        <form method="get" action="/listing/new">
            <button class="add">add listing</button>
        </form>
        <br>
        <br>
       
     
        <ul>
            <% for (let list of listing) { %>
                <li><a href="/listings/show/<%=list.id%>"><%= list.title %></a></li>
                
                <% } %>
         </ul>
        
        
    </body>
    
</html>