<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listing/new" method="get">
        <button >add new listing</button>
    </form>
    <h4>all listing</h4>
    <ul>
        <% for(var list of listing) { %>
           <a href="/listings/<%=list.id%>/details"> <li><%= list.title %></li></a>
        <% } %>
        
    </ul>
</body>
</html>