<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    <body>
        <% for (let list for listing) { %>
            <h3><%= list.title %></h3>
        <% } %>
        
        
        
    </body>
    
    
</body>
</html>